<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>!{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
	<main id="app">
		<canvas width="1200" height="1200" id="active-page">
		</canvas>
		<div id="toolkit">
			<button id="undo-button" class="tool-button">Undo</button>
			<input id="color-button" type="color" class="tool-button">
			<button id="prev-button" class="tool-button">Prev</button>
			<button id="next-button" class="tool-button">Next</button>
		</div>
	</main>
</body>
</html>
