<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>!{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
	<main id="app">
		<canvas width="1200" height="1200" id="active-page">
		</canvas>
		<div id="toolkit">

			<label class="tool-button" for="color-button">🎨</label>
			<input id="color-button" type="color"></input>

			<button id="prev-button" class="tool-button emoji-shadow">⬅</button>
			<button id="next-button" class="tool-button emoji-shadow">➡</button>
			<button id="outline-button" class="tool-button emoji-shadow">/</button>
			<button id="undo-button" class="tool-button emoji-shadow">⟲</button>
			<button id="reset-button" class="tool-button emoji-shadow">X</button>
		</div>
	</main>
</body>
</html>
