<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>!{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
	<main id="app">
		<canvas width="1200" height="1200" id="active-page">
		</canvas>
		<div id="toolkit">
			<label id="color-button-label" data-tooltip="Select color" class="tool-button emoji-shadow" for="color-button">🎨</label>
			<input id="color-button" type="color" value="#FF0000"></input>

			<button id="prev-button" data-tooltip="Previous" class="tool-button emoji-shadow">⬅</button>
			<button id="next-button" data-tooltip="Next" class="tool-button emoji-shadow">➡</button>
			<button id="outline-button" data-tooltip="Retrace outline" class="tool-button emoji-shadow">/</button>
			<button id="undo-button" data-tooltip="Undo" class="tool-button emoji-shadow">⟲</button>
			<button id="reset-button" data-tooltip="Reset" class="tool-button emoji-shadow">X</button>
		</div>
	</main>
	<div id="tooltip">
		Leverages agile frameworks to provide a robust synopsis for high level
		overviews. Iterative approaches to corporate strategy foster
		collaborative thinking to further the overall value proposition.
		Organically grow the holistic world view of disruptive innovation via
		workplace diversity and empowerment.
	</div>
</body>
</html>
